body {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.vaardigheden {
  display: flex;
  flex-direction: column;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  width: 13.4%;
}

.myskills-overview {
  /* width: 100%; */
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* .vaardigheden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
} */

.progress {
  width: 100%;
  background: #fff;
  float: right;
}
ul {
  margin: 0px;
}

/* Begin test */

main {
  display: flex;
  flex-wrap: wrap;
}
.test-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.test-cardview1 {
  width: 32%;
  border: 1px solid #333;
  padding: 5px;
  margin: 4.6px;
}

/* Truncate */
.vaardigheden p {
  /* width: auto; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mobile-menu {
  display: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 18pt;
}
.container {
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}
#mobile-menu {
  background-color: rgb(51, 51, 51, 0.58);
  /* background-color: rgba(255, 255, 255, 0.5); */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 70px;
  right: 8px;
  border-radius: 5px;
}
#mobile-menu a {
  text-align: right;
  color: #fff;
  font-weight: bold;
  /* background-color: #9e9e9e; */
}
#mobile-menu-container,
#mobile-menu {
  display: none;
}
.image-column:nth-last-child(0n + 1) {
  margin-bottom: 100px;
}
.image-column {
  float: left;
  width: 47%;
  padding: 5px;
  border: 2px solid #333;
  margin: 5px;
  text-align: center;
}
.image-column p {
  background: rgb(34, 34, 135);
  padding: 10px;
  color: #fff;
}

/* MENU BUTTON */

/* Custom hamburger menu */

.menu-button {
  position: sticky;
  top: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  width: 100px;
  margin-left: auto; /*Zorgt ervoor dat de hamburger menu rechts gepositioneerd wordt.*/
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* background: #333; */
  /* Opacity */
  /* background-color: rgb(51, 51, 51, 0.58); */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  /* border-radius: 5px; */
}

.menu-button p {
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
}

.menu-btn-burger {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 6px;
  background-color: #0066ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 100, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #0066ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 100, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-12px);
}

.menu-btn-burger::after {
  transform: translateY(12px);
}

/* animatie van de hamburger menu */
.menu-button.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-button.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-button.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* End of custom hamburger menu */

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .image-column {
    width: 45.8%;
  }
}
table {
  width: 100%;
  margin-bottom: 20px;
}
td {
  padding: 10px;
}

.content {
  padding-bottom: 100px;
}

#menu li,
#mobile-menu li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 5px;
}

#menu a {
  color: rgb(0, 0, 0);
}

#menu a:hover {
  text-decoration: none;
}

#menu li:hover {
  background: white;
}

/* #my-mobile-menu {
  display: none;
  cursor: pointer;
} */
#menu-container {
  overflow: hidden;
  z-index: 100;
  position: sticky;
  top: 0px;
  padding: 5px 0;
  /* background: #333; */
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  background: #333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.info {
  border-left: 15px solid #2196f3;
  padding: 5px;
  background: #b8daff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 100, 47, 0.2);
  margin-top: 25px;
}

.image-column:first-child(p) {
  text-align: left;
  background: #fff;
}

#mobile-menu {
  display: none;
}

rect {
  fill: #fff;
}

svg {
  float: right;
  display: none;
  margin-right: 20px;
  margin-top: 5px;
}

.test-container {
  width: 100%;
  background: purple;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}

.mijn-container {
  /* width: 100%; */
  margin: 10px;
  padding: 14px;
  background: purple;
  height: 20px;
  display: none;
}

/* Media query altijd onderaan plaatsen, anders werkt het niet */

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .my-header {
    background: grey;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 16.5pt;
  }
  .menu-button {
    display: flex;
  }
  .image-column {
    width: 96%;
    margin-bottom: 10px;
    left: 0px;
  }
  .mijn-container {
    display: block;
  }

  #menu-container {
    display: none;
  }
  /* #my-mobile-menu {
    display: block;
  } */

  /* De onderstaande zorgt ervoor dat de mobile menu items onder elkaar komen te staan */
  #mobile-menu li {
    display: flex;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .vaardigheden {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .vaardigheden {
    width: 46.5%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .vaardigheden {
    width: 31%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .vaardigheden {
    width: 23%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .vaardigheden {
    width: 18%;
  }
}
/* @media only screen and (max-width: 1201px) {
  .vaardigheden {
    width {
      width: 13%;
    }
  }
} */

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .container {
    margin: auto;
  }

  #mobile-menu-container {
    display: block;
  }
  #mobile-menu {
    display: none;
    position: fixed;
    right: 0;
  }
}

.centerItems {
  display: block;
  margin: 0 auto;
}
