body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 90%;
}

img {
  width: 100%;
  height: auto;
}
.image-column:nth-last-child(0n + 1) {
  margin-bottom: 100px;
}
.image-column {
  float: left;
  width: 47%;
  padding: 5px;
  border: 2px solid #333;
  margin: 5px;
  text-align: center;
}
.image-column p {
  background: rgb(34, 34, 135);
  padding: 10px;
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .image-column {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .container {
    padding: 20px;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .image-column {
    width: 45.8%;
  }
}
table {
  width: 100%;
  margin-bottom: 20px;
}
td {
  padding: 10px;
}

.content {
  padding-bottom: 100px;
}
