body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 90%;
}

img {
  width: 100%;
  height: auto;
}
.image-column:nth-last-child(0n + 1) {
  margin-bottom: 100px;
}
.image-column {
  float: left;
  width: 47%;
  padding: 5px;
  border: 2px solid #333;
  margin: 5px;
  text-align: center;
}
.image-column p {
  background: rgb(34, 34, 135);
  padding: 10px;
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .image-column {
    width: 96%;
    margin-bottom: 10px;
    left: 0px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .image-column {
    width: 45.8%;
  }
}
table {
  width: 100%;
  margin-bottom: 20px;
}
td {
  padding: 10px;
}

.content {
  padding-bottom: 100px;
}

#menu li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 5px;
}

#menu a {
  color: rgb(0, 0, 0);
}

#menu li:hover {
  background: white;
}

#menu-container {
  padding: 10px;
  background: #333;
  margin-bottom: 10px;
}

.info {
  border-left: 15px solid #2196f3;
  padding: 5px;
  background: #b8daff;
  border-radius: 5px;
}

.my-header {
  font-size: 16pt;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .my-header {
    margin: auto;
    width: 100%;
    font-size: 18pt;
    text-align: center;
    background: yellow;
  }
  .container {
    width: 100%;
    margin: auto;
  }
}

.image-column:first-child(p) {
  text-align: left;
  background: #fff;
}
